<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <% stylesheets.forEach(function (css) {
    %><link type="text/css" href="<%= css%>" rel="stylesheet"></link><%
  }) %>
</head>
<body>
  <script src="/.hoch/socket.io/socket.io.js"></script>
  <script src="/.hoch/index.js"></script>
</body>
</html>
